.container{
    margin: 0 auto;
    width: 100%;
    background: #fff;
}

.header{
    background: #ccc;
    padding: 20px;
}

.header h1{
    margin: 0;
}

.pages{
    float: left;
    width: 100%;
    background: #333;
}

.pages ul{
    margin: 0;
    padding: 0;
}

.pages ul li
{
	list-style-type: none;
	display: inline;
}

.pages li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

.pages li a:hover{
    background: #383; 
}

.content-container1
{
	float: left;
	width: 100%;
}

.content
{
	float: left;
	width: 56%;
	padding: 20px 0;
	margin: 0 0 0 2%;
}

.content h2 { margin: 0; }


.footer
{
	clear: both;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}